#secao1{
    font-size: 21px;
    padding: 50px 70px;
    color: #321d14;
}

#secao1 div{
    display: flex;
}

#bloco-texto{
    margin-top: 20px;
    margin-right: 40px;
    text-align: justify;
    flex-direction: column;
}

#bloco-texto h1{
    margin: 0;
    margin-left: 70px;
}

#secao1 img{
    height: 300px;
    margin-right: 40px;
    margin-top: 20px;
}

#text{
    text-align: justify;
    margin: 50px 70px 0 50px;
}

/* seção 2*/


#secao2{
    text-align: justify;
    background-color: #9e9a7e;
    font-size: 21px;
    padding: 20px 0 60px 180px;
    color: #321d14;
}

#secao2 div{
    border-radius: 5px 0 0 5px;
    padding: 5px 30px 10px 60px;
    margin-right: 0;
    background-color: #f6f0c9;
}

#secao2 div h2{
    font-size: 40px;
    text-align: end;
    margin-right: 200px;
}



/* seção 3 */

#secao3{
    font-size: 21px;
    padding: 50px 90px;
    color: #321d14;
}

#secao3 h2{
    font-size: 40px;
    margin: 20px 0 15px 140px;
}

#secao3 div{
    margin: 40px 60px;
    display: flex;
    justify-content: space-around;
}

#secao3 div p{
    margin: auto 0 auto 50px;
}

#secao3 img{
    border-radius: 15px;
    width: 340px;
}

#secao3 p{
    margin: 0 35px;
    text-align: justify;
    padding: 15px;
    background-color: rgba(158, 154, 126, 0.8);
    border-radius: 15px;
}


/* secao 4 */

#secao4{
    background-color: #e7e1bc;
    padding: 20px;
}

#secao4 h2{
    margin: 50px;
    color: #2c2c2c;
    font-size: 38px;
    text-align: center;
}

#avatares{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatares{
    border: #c5bf9f solid 2px;
    text-align: justify;
    color: #321d14;
    /* border-radius: 10px; */
    /* background-color: #c5bf9f; */
    padding: 15px 20px;
    margin: 10px;
    width: 300px;
    /* height: 670px; */
}

.avatares p{
    margin: 20px 0;
}

.avatares h3{
    color: #321d14;
    font-size: 23px;
    margin: 0px 0 15px;
    text-align: center;
}

.avatares img{
    border: #9e9a7e solid 1px;
    /* border-radius: 7px; */
    width: 280px;
    display: block;
    margin: 0 auto;
}



/* 
transição dropdown
fontes
avatar blocos
javascript(sorteio)
mapa */