.secao1{
    padding: 40px 60px 40px 30px;
    display: flex;
}

.secao1 img{
    margin: 0 0 0 70px;
    height: 21.2rem;
    border-radius: 10px;
}

.secao1 div{
    display: block;
    margin: auto 50px;
}

.secao1 div h1{
    margin: 7px 0;
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #321d14;
}

.secao1 div p{
    margin: 10px 0 0;
    font-size: 1.2rem;
    text-align: justify;
    color: #321d14;
}


/* seção 2 */

.secao2{
    background-color: #9e9a7e;
    margin: 0;
    padding: 20px 140px;
}

.secao2 div{
    color: #321d14;
    text-align: justify;
    font-size: 1rem;
    border-radius: 16px;
    padding: 20px;
    background-color: #f6f0c9;
}

.secao2 div p{
    margin: 0px 10px;
}


/* seção 3 */

.secao3{
    color: #321d14;
    padding: 50px 60px 70px;
    padding-left: 30px;
    display: flex;
}

#blocos-dobras{
    text-align: justify;
    margin: 0 40px
}

#imagens-dobras{
    padding: 12rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#imagens-dobras img{
    height: 340px;
}
.blocos-dobras{
    display: flex;
}

.blocos-dobras div h3{
    font-family: 'Cinzel Decorative';
    color: #321d14;
    font-size: 1.6rem;
    margin-left: 50px;
    margin-bottom: 0;
}

.blocos-dobras div p{
    margin-top: 7px;
    font-size: 0.94rem;
}

.blocos-dobras img{
    margin: 60px 20px;
    height: 160px;
}


/* seção 4-1 */

.secao4{
    background-color: #bcb692;
}

.secao4-1{
    padding: 50px 50px;
    padding-left: 100px;
    background-color: #bcb692;
    display: flex;
}

.secao4-1 div{
    margin: 0px 90px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao4-1 div h2{
    font-weight: bold;
    font-family: 'Cinzel Decorative';
    margin: 30px 90px 0px;
    font-size: 40px;
    color: rgb(44, 44, 44);
}

.secao4-1 div p{
    text-align: justify;
    font-size: 1.1rem;
    color: white;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(44, 44, 44, 0.7);
}

.secao4-1 img{
    margin: 0 60px;
    height: 340px;
}


/* seção 4-2 */

hr{
    background-color: #321d14;
    display: block;
    margin: auto;
    width: 1300px;
    height: 1px;
    border: none;
}

.secao4-2{
    padding: 50px 210px;
    background-color: #bcb692;
    justify-content: space-between;
    display: flex;
    color: #321d14;
}

.subdobras{
    width: 240px;
    background-color: rgba(246, 240, 201, 0.86);
    border: #321d14 solid 2px;
    border-radius: 20px;
}

.subdobras h3{
    font-family: 'Cinzel Decorative';
    font-size: 1.2rem;
    margin: 20px 20px 0;
    text-align: center;
}

.subdobras ul{
    margin: 15px 10px 25px -7px;
}

.subdobras li{
    font-size: 1.138rem;
    color: #321d14;
}


/* seção 5 */

.secao5{
    background-color: #bcb692;
    position: relative;
    overflow: hidden; 
    height: 90vh; 
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.6;
}

#sorteio-dobras {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#sorteio-dobras h4{
    font-size: 4rem;
    margin: 0;
    font-family: 'Cinzel Decorative';
}
#botao-dobras {
    cursor: pointer;
    display: block;
    width: 170px;
    margin: 0 auto;
    background-color: #bcb692;
    color: #f6f0c9;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 12px;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
}
#botao-dobras:disabled{
    cursor: not-allowed;
    opacity: 0.8;
    color: black;
}

#botao-dobras:active{
    transform: scale(0.97);
}