@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;400&display=swap');


/* seção 1 */

.secao1{
    position: relative;
}

.fundo{
    height: 550px;
    margin: 50px auto;
    display: block;
    border-radius: 30px;
}


.mensagem{
    margin-top: -1.4em;
    position: absolute;
    font-family: 'Cinzel Decorative';
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.texto{
    font-family: 'Lora';
    font-size: 25px;
    color: #321d14;
    margin: 50px;
    text-align: center;
}




/* seção 2 */


.secao2{
    background-color: #9e9a7e;
    padding: 3rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blocos{
    height: 17rem;
    width: 16rem;
    background-color: #f6f0c9;
    padding: 1rem;
    border-radius: 30px;
}

.blocos h2{
    font-family: 'Cinzel Decorative';
    font-size: 1rem;
    color: #756447;
    text-align: center;
    margin: 1rem 1rem;
}

.blocos p{
    font-family: 'Lora';
    color: #321d14;
    font-size: 1rem;
    margin: 0 20px;
    text-align: justify;
}


/* seção 3 */


.secao3{
    height: 330px;
    padding: 50px 200px 300px;
}

.secao3 h2{
    color: #321d14;
    text-align: center;
    font-size: 60px;
    margin: 40px 0 55px;
}

.nações-pai{
    display: flex;
    justify-content: space-evenly;
}

.bloco-nações{
    opacity: 0.9;
    width: 190px;
    background-color: #9e9a7e;
    padding: 12px 12px;
    border-radius: 31px;
}

.bloco-nações p{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.bloco-nações img{
    height: 170px;
    border-radius: 31px;
}

.link-mapa{
    text-align: center;
    margin-top: 55px;

}

.link-mapa a{
    font-size: 30px;
    color: #321d14;
    text-align: center;
    font-weight: bold;
}

.link-mapa a:hover{
    text-decoration: underline;
}

.bloco-nações:hover{
    opacity: 1;
}

.bloco-nações:hover p{
    color: #f6f0c9;

}

.bottons-nações{
    transition: transform 0.6s;
}

.bottons-nações:hover{
    transform: translateY(-10px);
}
