section{
    padding: 60px 30px;
}

#secao1 h1{
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    margin: 0 0 30px;
    font-size: 50px;
    color: #1c2335;
    text-align: center;
}

#secao1 img{
    width: 1300px;
    display: block;
    margin: auto auto;
    height: auto;
    border-radius: 20px;
}


/* seção 2*/

#secao2{
    padding: 20px 90px;
}

#mapa-agua{
    margin-top: 0;
}
.mapas{
    margin: 20px 30px;
    color: #321d14;
    text-align: justify;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    background-color: #9e9a7e;
    border: #321d14 solid 1px;
    height: 18rem;
}

.mapas h2{
    font-family: 'Cinzel Decorative';
    margin: 0;
    text-align: center;
    font-size: 2.08rem;
}

.mapas img{
    border-radius: 15px;
    width: 500px;
}

.mapa-texto{
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    margin: 0 0 0 40px;
}

.mapa-texto p{
    font-size: 0.9rem;
    margin: 0 0;
}

.links-lugares{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.blocos-lugares{
    border:#321d14 solid 1px;
    border-radius: 10px;
    background-color: #bcb692;
    margin: 0;
    padding: 8px;
}

.links-lugares a{
    text-align: center;
    color: #321d14;
    font-size: 15.5px;
}


/* cores  */

#mapa-agua .blocos-lugares:hover{
    border:#3b455f solid 1px;
}
#mapa-agua .blocos-lugares:hover{
    color: #3b455f;
}

#mapa-ar .blocos-lugares:hover{
    border: #8a631f solid 1px;
}
#mapa-ar .blocos-lugares:hover{
    color: #8a631f;
}

#mapa-fogo .blocos-lugares:hover{
    border:#c22d26 solid 1px;
}
#mapa-fogo .blocos-lugares:hover{
    color: #c22d26;
}

#mapa-terra .blocos-lugares:hover{
    border:#7f9142 solid 1px;
}
#mapa-terra .blocos-lugares:hover{
    color: #7f9142;
}

