@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;400&display=swap');

/* seção 2 */


.secao2{
    margin: 90px 120px 90px;
}

.lados{
    font-family: 'Lora';
    display: flex;
    text-align: justify;
    font-size: 1.16em;
    color: #321d14;
}

.lados a{
    font-family: 'Lora';
    color: #321d14;
    font-size: 1em;
}

.lados a:hover{
    color: #9e9a7e;
}

.lados p{
    width: 585px;
    margin: 0 0 30px;
}

#lado-esquerdo{
    margin: 0 30px;
}

#lado-direito{
    margin: 0 0 0 30px;
}

#lado-direito img{
    width: 585px;
    display: block;
    border-radius: 30px;
    margin: 0 auto 30px;
}


/* seção 3 */

.secao3{
    background-color: #bcb692;
    padding: 60px 130px;
}

.lugares{
    display: flex;
}

.lugares p{
    color: #321d14;
    font-size: 1.1rem;
    text-align: justify
}
.lugares h2{
    text-align: center;
    font-family: 'Cinzel Decorative';
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.lugares img{
    margin: 10px 0;
    border-radius: 30px;
    height: 350px;
}

.bloco-texto{
    margin: auto 45px ;
}