@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;400&display=swap');



body{
    background-color: #f6f0c9;
    margin: 0px;
    padding: 0px;
    font-family: 'Lora';
}

/* navbar */

header{
    font-family: 'Cinzel Decorative';
    background-color: #9e9a7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
    height: 6em;
    
}

li, a{
    font-size: 1.25em;
    text-decoration: none;
    color: #fff
}

.LOGOTIPO{
    color: #fff;
    font-size: 2em;
}

.nav_links li{
    list-style: none;
    display: inline-block;
    padding: 5px 20px 5px;
}

.nav_links li a:hover{
    color: #f6f0c9;
}

.dropdown-menu{
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    margin-top: 5px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
}

.dropdown-menu a {
    text-align: center;
    font-size: 1.15em;
    border: #67604e solid 2px;
    background-color: #b4aa8a;
    padding: 20px 20px;
    display: block;
    color: #ffffff;
    border-radius: 6px;
}

.dropdown-menu a:hover{
    color: #C9BF9B;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
}