@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;400&display=swap');

.secao1{
    margin: 100px 80px 80px;
}

.secao1 h1{
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    color: #3b455f;
    font-size: 80px;
    margin: 0;
    padding: 0 0 0 60px;
}

.secao1 div{
    text-align: justify;
    padding: 18px;
    background-color: rgba(59, 69, 95, 0.7);
    margin: 5px 100px;
    border-radius: 20px;
}

.secao1 div p{
    font-family: 'Lora';
    margin: 0;
    color: white;
    font-size: 1.27em;
}