/* seção 1 */


.fundo{
    height: 550px;
    margin: 50px auto;
    display: block;
    border-radius: 100px;
}

.mensagem{
    font-size: 40px;
    color: #321d14;
    text-align: center;
}

.texto{
    font-size: 25px;
    color: #321d14;
    margin: 50px;
    text-align: center;
}




/* seção 2 */


.secao2{
    background-color: #9e9a7e;
    padding: 100px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blocos{
    height: 300px;
    width: 300px;
    background-color: #f6f0c9;
    padding: 15px;
    border-radius: 65px;
}

.blocos h2{
    font-size: 26px;
    color: #756447;
    text-align: center;
    margin: 17px;
}

.blocos p{
    color: #321d14;
    font-size: 19px;
    margin: 40px 20px;
    text-align: justify;
}




/* seção 3 */


.secao3{
    height: 300px;
    padding: 80px 200px 200px;
}

.secao3 h2{
    text-align: center;
    font-size: 44px;
    padding: 0 0 0px;
}

.nações-pai{
    /* background-color: #321d14; */
    display: flex;
    justify-content: space-evenly;
}

.bloco-nações{
    width: 100px;
    background-color: #9e9a7e;
}

.bloco-nações img{
    height: 80px;
}