/* seção 1 */


.fundo{
    height: 550px;
    margin: 50px auto;
    display: block;
    border-radius: 30px;
}

.mensagem{
    font-size: 40px;
    color: #321d14;
    text-align: center;
}

.texto{
    font-size: 25px;
    color: #321d14;
    margin: 50px;
    text-align: center;
}




/* seção 2 */


.secao2{
    background-color: #9e9a7e;
    padding: 100px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blocos{
    height: 300px;
    width: 300px;
    background-color: #f6f0c9;
    padding: 15px;
    border-radius: 30px;
}

.blocos h2{
    font-size: 26px;
    color: #756447;
    text-align: center;
    margin: 17px;
}

.blocos p{
    color: #321d14;
    font-size: 19px;
    margin: 40px 20px;
    text-align: justify;
}




/* seção 3 */


.secao3{
    height: 330px;
    padding: 50px 200px 300px;
}

.secao3 h2{
    text-align: center;
    font-size: 60px;
    margin: 40px 0 55px;
}

.nações-pai{
    display: flex;
    justify-content: space-evenly;
}

.bloco-nações{
    width: 190px;
    background-color: #9e9a7e;
    padding: 12px 12px;
    border-radius: 31px;
}

.bloco-nações p{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.bloco-nações img{
    height: 170px;
    border-radius: 31px;
}

.link-mapa{
    text-align: center;
    margin-top: 55px;

}

.link-mapa a{
    font-size: 30px;
    color: #321d14;
    text-align: center;
    font-weight: bold;
}

.link-mapa a:hover{
    text-decoration: underline;
}